.newsletter-form-control {
  font-size: small;
}
#edit-unsubscribe{
  background-color:white;
}
#edit-unsubscribe:hover{
  color:black;
}


.newsletter-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.newsletter-message {
  color: #6A6A6A;
  font-size: 15px;
}
