<div class="container my-30">
  <div class="row">
    <div class="col-md-3">
      <div class="text-center">
        <img class="img-fluid" src="/{{ module_path }}/assets/images/que_es_ide.png" alt="Que es IDE">
      </div>
    </div>
    <div class="col-md-9 center-vertical">
      <div>
        <div style="display: block;height: auto;">
          <p>IDE Patrimonio es una plataforma pública y digital, que pone a disposición un visor
          territorial y georreferenciado del patrimonio cultural en Chile. Conoce y descubre
          expresiones, reconocimientos y técnicas de patrimonio cultural inmaterial, Inmuebles
          patrimoniales, Bibliotecas, Museos y Monumentos Nacionales presentes en el territorio
            nacional.</p>
          <br>
          <a href="{{ path('ide_patrimonio.about') }}" class="m-0 px-3 py-2 btn btn-ide-patrimonio">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
