{{ attach_library('ide_patrimonio/ide_patrimonio') }}
<div class="container-fluid bg-ide">
  <div class="container">
    <div class="ide-iframe-container-title">
      <h2 class="title-ide color-black">Catálogo de Metadatos<br>
        y Descarga de Capas del Patrimonio Cultural en Chile</h2>
    </div>
    <div class="ide-iframe-container text-center  mt-30">
      <iframe height="800"
              name="iframe-field_iframe"
              id="iframe-field_iframe_catalogo"
              title=""
              allow="autoplay,camera,microphone,payment,accelerometer,geolocation,encrypted-media,gyroscope"
              src="https://catalogo.patrimoniocultural.gob.cl/geonetwork/srv/spa/catalog.search#/home">
      </iframe>
    </div>
  </div>
</div>
