<div class="site-footer py-100">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-auto text-align-center">
        <img class="img-fluid footer-image" id="logo-ministerio" src="{{ base_path ~ directory }}/images/logo_ministerio.svg"/>
      </div>

      <div class="col-md-9 pl-50 my-3 my-md-0">
        <div>
          <strong>
            Ministerio de las Culturas, las Artes y el Patrimonio<br>
            Gobierno de Chile
          </strong>
        </div>
        <div >
          Dirección Valparaíso: Plaza Sotomayor 233.<br>
          Dirección Santiago: Paseo Ahumada 48, Pisos 4, 5, 6, 7, 8 <br>y 11.
        </div>

        <div >
          Atención Ciudadana | Términos y Condiciones de Uso <br>
          © Servicio Nacional del Patrimonio Cultural
        </div>
      </div>
      <div class="col text-align-right">
        <div>
          <button id="footer-go-top" onclick="goToTop()">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
              <g id="Grupo_14676" data-name="Grupo 14676" transform="translate(-236 -600)">
                <rect id="Rectángulo_3845" data-name="Rectángulo 3845" width="48" height="48" transform="translate(236 600)" fill="#a30952"/>
                <path id="Icon_material-keyboard-arrow-up" data-name="Icon material-keyboard-arrow-up" d="M12.425,30l11.15-11.126L34.725,30l3.425-3.425L23.575,12,9,26.575Z" transform="translate(236 603)" fill="#fff"/>
                <path id="Icon_material-keyboard-arrow-up-2" data-name="Icon material-keyboard-arrow-up" d="M12.425,30l11.15-11.126L34.725,30l3.425-3.425L23.575,12,9,26.575Z" transform="translate(236 603)" fill="#fff"/>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

